:root {
  --mainYellow: #ffd000;
  --mainBrown: #662200;
  --fontFamily: monospace, sans-serif;
}
body {
  _font-family: var(--fontFamily);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainBrown);
  font-size: 2rem;
}
.default-background {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
