:root {
  --mainYellow: #ffd000;
}
.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
}
.default-background {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
